
    body {font-family:Georgia;background:#ccc;}
    #pge {width:600px;height:400px;margin:30px auto;padding:13px;background:#ffc}
    #rsp {display;block;width:80%;margin:0px auto;font-family:"Courier New"}
    p {margin:3px;}
    